<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caroline Cerbelaud Profile page - Back-end developer</title>
  <!-- TailWind CSS Framework-->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>


  <!-- CSS stylesheets -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Importmap -->
  <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
  </script>
</head>
<body>

  <!-- Top Navigation bar -->

  <nav class="flex content-center items-center justify-between px-6 py-3">
    <a href="#" class="nav-item font-bold">Caroline Cerbelaud</a>
    <div class="flex space-x-4 content-center items-center justify-center">
      <a href="#about-me" class="nav-item">About me</a>
      <a href="#skills" class="nav-item">Skills</a>
      <a href="#projects" class="nav-item">Project</a>
      <a href="#contact-me" class="nav-item">Contact me</a>
    </div>
    <button class="button-black flex flex-row content-center items-center justify-center gap-2" >
      <a href="#">Download Resume</a>
      <i class="fa-regular fa-circle-down"></i>
    </button>
  </nav>

  <!-- CONTENT -->
  <main>

  <!-- HERO BANNER -->
  <div class="section white-section p-3">
    <div class="section-inner flex flex-row">
      <div class="w-1/2">
          <div class="creative-title flex flex-col gap-4">
            <div class="title-line flex flex-row gap-2">
              <p class="text-outline">Hello,</p>
            </div>
            <div class="title-line flex flex-row gap-2">
              <p class="simple">I'm </p>
              <p class="strong"> Caroline Cerbelaud</p>
            </div>
            <div class="title-line flex flex-row gap-2">
              <p class="strong">Backend </p>
              <p class="text-outline"> developer.</p>

            </div>
            <div class="title-line flex flex-row gap-2">
              <p class="simple">Based in </p>
              <p class="strong"> Rennes</p>
            </div>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="social-media-icons">
            <button class="social-media-icon">LinkedIn</button>
            <button class="social-media-icon">GitHub</button>
            <button class="social-media-icon">Notion</button>
          </div>
      </div>
      <div class="w-1/2">
        <img src="images/girl_with_laptop.png" alt="" class="hero-banner-right">
      </div>
    </div>

  </div>

  <!-- MY SKILLS -->
  <!-- https://icones.js.org/collection/devicon-plain -->

  <div id="skills" class="section white-section">
    <div class="section-inner">
      <div class="section-title">
        <h2>My <strong>Skills</strong></h2>
      </div>
      <!-- Vue.JS div -->
      <div  class="grid grid-cols-6 gap-10 justify-between">
       <div v-for="skill in skills">
          <div class="skill-card">
            <img v-bind:src="skill.icon_svg" alt="">
            <div class="skill-name">{{ skill.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MY EXPERIENCES -->

  <div id="experiences" class="section black-section">
    <div class="section-inner">
      <div class="section-title">
        <h2>My <strong>Experiences</strong></h2>
        <div v-for="experience in experiences" class="experiences-cards-list">
          <div class="expe-card">
            <div class="expe-header">
              <div class="expe-header-left">
                <img v-bind:src="experience.job_logo" v-bind:alt="experience.name">
                <h2>
                  <span>{{ experience.employer }}</span>
                  <span>{{ experience.job_title }}</span>
                </h2>
              </div>
              <div class="expe-header-right">
                <span>{{ experience.date_start }}</span>
                <span>{{ experience.date_end }}</span>
              </div>
            </div>
            <div class="expe-description">
              <p>{{ experience.description_short }}</p>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>

  <!-- About me -->
  <div id="about-me" class="section white-section">
    <div class="section-inner flex flex-row">
      <div class="big-image w-1/2">
        <img src="images/girl_with_big_hands.svg" alt="">
      </div>
      <div class="right-content w-1/2">
        <div class="section-title">
          <h2>About <strong>Me</strong></h2>
        </div>
        <div class="p-10">
          <p class="simple-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia alias odio vero dolorum corporis rerum! Aperiam fugit id, minus in debitis nulla voluptates modi cumque porro, fuga, facere quidem sed.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia alias odio vero dolorum corporis rerum! Aperiam fugit id,
          minus in debitis nulla voluptates modi cumque porro, fuga, facere quidem sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia alias odio vero dolorum corporis rerum! Aperiam fugit id,
          minus in debitis nulla voluptates modi cumque porro, fuga, facere quidem sed.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- MY PROJECTS -->
  <div id="projects" class="section black-section">
    <div class="section-inner">
      <div class="section-title">
        <h2>My <strong>Projects</strong></h2>
      </div>
    </div>
  </div>

  <!-- TESTIMONIALS -->

  <div class="section white-section">
    <div class="section-title">
      <h2>My <strong>Testimonials</strong></h2>
    </div>
    <div class="flex">
      <div class="card white-card">
        <div class="avatar">
          <img src="" alt="">
        </div>
        <p>Testimonial</p>
        <p class="author">Michel</p>
        <p class="role">Designer</p>
      </div>
    </div>
  </div>

    <div id="contact-me" class="section black-section">
      <div class="form left">

      </div>
      <div class="title-section">
        Let's connect and work together
      </div>
      <p></p>
    </div>

  </div>


  </main>

  <footer class="section black-section flex">
    <div class="avatar">
      <img src="" alt="">
    </div>
    <div class="credits">
      Created by <a href=""></a>
      Design by <a href="https://www.figma.com/@jhanvishah">Jhanvi Shah</a>
    </div>

  </footer>

<!-- Import javascript Vue.js Apps-->
<script src="javascript/skills.js" type="module"></script>
<script src="javascript/experiences.js" type="module"></script>

</body>
</html>
