/* div{
  border: 1px solid green;
} */

.section {
  padding: 3em;
  margin: 0 auto;
}

.section-inner{
    width: 80%;
    margin: 0 auto;
}

.white-section{
  background-color: white;
  color:black;
}

.black-section {
  background-color: black;
  color: white;
}

.section-title {
  font-size: 2em;
  text-align: center;
  font-weight: 300;
  margin: 1em;
}

.section-title strong {
  font-weight: 800;
}
