.simple-text {
    color: var(--Zinc-500, #71717A);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    text-align: justify;
}
